<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}"></title>

    <!-- JQuery -->
    <script type="text/javascript" th:src="@{/js/jquery-3.2.0.min.js}"></script>
    <!--Import https://www.devbridge.com/sourcery/components/jquery-autocomplete/#-->
    <script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}" media="screen,projection"/>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script>
    $(document).ready(function() {
        $('#autocomplete-input').devbridgeAutocomplete({
            serviceUrl: '/dito/suggestion',
            paramName: 'searchstr',
            minChars: 2,
            autoSelectFirst: true,
            autoSelectFirst: true
        });
    });
</script>
</head>
<body>
<nav class="nav-extended">
    <div class="nav-wrapper">
        <img src="https://blog.dito.com.br/wp-content/uploads/2018/09/Logo-Dito-Principal.png"  height="80" width="150" alt="Dito">
        <a href="#" class="brand-logo">Dito - Desafio Backend</a>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <!--            <li class="tab"><a href="#eventos">Cadastro de eventos</a></li>-->
            <li class="tab"><a class="active" href="#autocomplete">Autocomplete</a></li>
        </ul>
    </div>
</nav>


<div class="row">
    <div class="col s12">
        <div id="autocomplete" class="col s12">
            <div class="container">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">textsms</i>
                        <input type="text" id="autocomplete-input" class="autocomplete">
                        <label for="autocomplete-input">Eventos</label>
                    </div>
                </div>
            </div>


</body>
</html>